@charset "UTF-8";

body {
    background-color: rgba(119, 145, 119, 0.685);
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    color: rgb(60, 77, 60) ;
}

.menu{
    width: 100%;
    height: 250px;
    background-color: rgb(255, 255, 255);
    position: relative;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 10px 10x 10px blue;
}


.opcoes {
    position:absolute;
    bottom: 10px;
    left: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0 10px;
}

nav button {
    background-color: green;
    border-radius: 5px;
}

nav button:hover{
    background-color: #555;
    border-radius: 5px;
    cursor: pointer;
}
.principal{
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.htmlbasico{
    font: bold 1em normal;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    background-color:gray;

}

.htmlintermediario {
    font: bold 1em normal;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    background-color: gray;
}
.htmlavancado{
    font: bold 1em normal;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    background-color: gray;
}
.barralateral {
    display: flow-root;
    position: absolute;
    height: 100%;
    width: 30px;
    background-color: blue;
}