@charset "UTF-8";

body {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
h1{
    color: rgb(230, 230, 238);

}
h2{
    color: rgb(238, 228, 228);
}
