@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to left, #10454F,#A3AB78);
}
p {
    text-align: justify;
}
main{
    background-color: white;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0b2f3688;
    width: 600px;
}
h1 {
    color: #10454F;
    text-align: center;
    text-shadow: 1px 1px 0px #0a2c3365;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    color: #10454F;
}
